<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>339302717009-mcoggh3vuetfcpgrg54dlpf777buiogo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.339302717009-mcoggh3vuetfcpgrg54dlpf777buiogo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>339302717009-2b17m22iks08a09dto4mddfo5q7gbpf1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA3pdzWjMhi7aoLXVTzS9wXHjbloO_dwko</string>
	<key>GCM_SENDER_ID</key>
	<string>339302717009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DaDaDaDEV.noteapp</string>
	<key>PROJECT_ID</key>
	<string>note-app-e71e1</string>
	<key>STORAGE_BUCKET</key>
	<string>note-app-e71e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:339302717009:ios:6bbaf52a1684dec54a0a70</string>
</dict>
</plist>